# Dependencies
node_modules/

# Build output
dist/

# Firebase
.firebase/
firebase-debug.log
*-debug.log

# Env & editor
.env
.env.local
.DS_Store
.vscode/
*.local

# Logs
npm-debug.log*
yarn-error.log*
